/* Основной фон */
/*.gradio-container {
    background-color: #fef3c7;
} */

/* Заголовок */
/* .main-title h2 { */
  text-align: left;
  font-size: 2rem;
  margin: 0; /* Убираем отступы вокруг заголовка */
  /*color: #003366;*/
  margin-bottom: -5px; !important /* Убираем отступ снизу заголовка */
  padding: 0;
}


/* Цитата */
.quote-block {
  text-align: left;
  /*font-style: italic;*/
  padding: 0;
  margin: -1px 0 0 0; /* верхний небольшой отступ, снизу чуть больше */
  /*max-width: 30em;*/ /* ограничиваем ширину, чтобы не тянулась на всю строку */
  line-height: 1.4em;
}


/* .left-col {  */
/*   background-color: #CDE8FA; /* более тёмный голубой */
/*   padding: 20px; */
  /* Можно и цвет текста подкорректировать */
/*   color: #003366; */
/*  } */

.right-col {
  background-color: #F0FAFF; /* посветлее */
  padding: 0px;
  color: #fef3c7;
}

  /* Поле для конспекта */
#plan-output {
  border: 2px dashed #bbb;
  border-radius: 12px;
  background-color: ##f5f5f5;
  padding: 20px;
  min-height: 1050px;
  font-style: italic;
  color: #555;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/*#f5f5f5*/